Repository provide-io/ci-tooling, changes with the owners that .github/CODEOWNERS names for each.
All owners: @provide-io/maintainers, @provide-io/infrastructure, @provide-io/docs

.github/CODEOWNERS:

# Code ownership for provide-io/ci-tooling

# Global ownership - all files require review from maintainers
* @provide-io/maintainers

# Actions require additional infrastructure team review
/actions/ @provide-io/infrastructure @provide-io/maintainers

# Workflows require additional infrastructure team review
/workflows/ @provide-io/infrastructure @provide-io/maintainers

# Scripts and automation
/scripts/ @provide-io/infrastructure

# Documentation can be reviewed by docs team
/docs/ @provide-io/docs @provide-io/maintainers
README.md @provide-io/docs @provide-io/maintainers

# Configuration files require infrastructure review
/.github/ @provide-io/infrastructure
pyproject.toml @provide-io/infrastructure
*.yml @provide-io/infrastructure
*.yaml @provide-io/infrastructure

🔼⚙️ [skip ci] auto-commit
  actions/python-build-release/README.md
  actions/python-build-release/action.yml
Owners: @provide-io/docs, @provide-io/maintainers, @provide-io/infrastructure

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/maintainers

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
  actions/generate-post-version/README.md
  actions/generate-post-version/action.yml
Owners: @provide-io/maintainers, @provide-io/docs, @provide-io/infrastructure

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/maintainers

feat: Add generate-testpypi-version action
  actions/generate-testpypi-version/README.md
  actions/generate-testpypi-version/action.yml
Owners: @provide-io/docs, @provide-io/maintainers, @provide-io/infrastructure

chore(python-build-release): update action configuration and documentation
  actions/python-build-release/README.md
  actions/python-build-release/action.yml
Owners: @provide-io/docs, @provide-io/maintainers, @provide-io/infrastructure

feat: Add parse-org-helpers action for GitHub token management
  actions/parse-org-helpers/action.yml
Owners: @provide-io/infrastructure

chore(python-build-release): update action configuration and documentation
  actions/python-build-release/README.md
  actions/python-build-release/action.yml
Owners: @provide-io/docs, @provide-io/maintainers, @provide-io/infrastructure

feat: Add parse-org-helpers action for GitHub token management
  actions/parse-org-helpers/action.yml
Owners: @provide-io/infrastructure

fix(python-quality): ensure quality checks never fail CI while still reporting issues
  actions/python-quality/action.yml
Owners: @provide-io/infrastructure

fix(ci-tooling): correct version reference to v0.0.0
  CLAUDE.md
Owners: @provide-io/maintainers

fix(ci-tooling): correct version reference to v0.0.0
  CLAUDE.md
Owners: @provide-io/maintainers

fix(python-quality): ensure quality checks never fail CI while still reporting issues
  actions/python-quality/action.yml
Owners: @provide-io/infrastructure

feat: Add setup-github-auth reusable action
  actions/setup-github-auth/README.md
  actions/setup-github-auth/action.yml
Owners: @provide-io/docs, @provide-io/maintainers, @provide-io/infrastructure

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/maintainers

🔼⚙️ [skip ci] auto-commit
  actions/python-ci/action.yml
  actions/setup-github-auth/action.yml
Owners: @provide-io/infrastructure

🔼⚙️ [skip ci] auto-commit
  actions/setup-github-auth/action.yml
Owners: @provide-io/infrastructure

feat: Massive CI/CD consolidation
  actions/generate-post-version/README.md
  actions/generate-post-version/action.yml
  actions/generate-testpypi-version/README.md
  actions/generate-testpypi-version/action.yml
  actions/parse-org-helpers/action.yml
  actions/python-build-release/README.md
  actions/python-build-release/action.yml
  actions/python-build/action.yml
  actions/python-quality/action.yml
  actions/python-security/action.yml
  actions/python-test/action.yml
Owners: @provide-io/docs, @provide-io/maintainers, @provide-io/infrastructure

fix: Remove escaped quote causing YAML syntax error
  actions/setup-github-auth/action.yml
Owners: @provide-io/infrastructure

fix: Rewrite setup-github-auth with proper YAML multiline syntax
  actions/setup-github-auth/action.yml
Owners: @provide-io/infrastructure

🔼⚙️ [skip ci] auto-commit
  templates/standard-ci.yml
  templates/standard-release.yml
Owners: @provide-io/infrastructure

fix: Resolve YAML syntax error in setup-github-auth action
  actions/setup-github-auth/action.yml
Owners: @provide-io/infrastructure

fix: Use base64 encoding to avoid YAML heredoc issues
  actions/setup-github-auth/action.yml
Owners: @provide-io/infrastructure

🔼⚙️ [skip ci] auto-commit
  actions/python-ci/action.yml
Owners: @provide-io/infrastructure

fix: Add --system flag to UV install commands
  actions/python-ci/action.yml
Owners: @provide-io/infrastructure

fix: Respect upload-artifacts setting for test results
  actions/python-ci/action.yml
Owners: @provide-io/infrastructure

feat: Add setup-github-auth reusable action
  .github/workflows/python-ci.yml
  actions/setup-github-auth/README.md
  actions/setup-github-auth/action.yml
Owners: @provide-io/infrastructure, @provide-io/docs, @provide-io/maintainers

feat(generate-post-version): Add GitHub Action for PEP 440-compliant post-release version generation
  actions/generate-post-version/README.md
  actions/generate-post-version/action.yml
  actions/generate-testpypi-version/README.md
  actions/generate-testpypi-version/action.yml
Owners: @provide-io/docs, @provide-io/maintainers, @provide-io/infrastructure

feat(generate-post-version): Add GitHub Action for PEP 440-compliant post-release version generation
  actions/generate-post-version/README.md
  actions/generate-post-version/action.yml
  actions/generate-testpypi-version/README.md
  actions/generate-testpypi-version/action.yml
Owners: @provide-io/docs, @provide-io/maintainers, @provide-io/infrastructure

chore(ci): bump codecov-action from v4 to v5
  .github/workflows/python-ci.yml
Owners: @provide-io/infrastructure

chore(ci): bump codecov-action from v4 to v5
  .github/workflows/python-ci.yml
Owners: @provide-io/infrastructure

feat: Add setup-github-auth reusable action
  .github/workflows/python-ci.yml
  actions/setup-github-auth/README.md
  actions/setup-github-auth/action.yml
Owners: @provide-io/infrastructure, @provide-io/docs, @provide-io/maintainers

feat(ci): Consolidate Python CI/CD actions into streamlined workflow
  actions/generate-post-version/README.md
  actions/generate-post-version/action.yml
  actions/generate-testpypi-version/README.md
  actions/generate-testpypi-version/action.yml
  actions/parse-org-helpers/action.yml
  actions/python-build-release/README.md
  actions/python-build-release/action.yml
  actions/python-build/action.yml
  actions/python-ci/action.yml
  actions/python-quality/action.yml
  actions/python-security/action.yml
  actions/python-test/action.yml
  actions/setup-github-auth/action.yml
  templates/standard-ci.yml
  templates/standard-release.yml
Owners: @provide-io/docs, @provide-io/maintainers, @provide-io/infrastructure

feat(ci): Consolidate Python CI/CD actions into streamlined workflow
  actions/generate-post-version/README.md
  actions/generate-post-version/action.yml
  actions/generate-testpypi-version/README.md
  actions/generate-testpypi-version/action.yml
  actions/parse-org-helpers/action.yml
  actions/python-build-release/README.md
  actions/python-build-release/action.yml
  actions/python-build/action.yml
  actions/python-ci/action.yml
  actions/python-quality/action.yml
  actions/python-security/action.yml
  actions/python-test/action.yml
  actions/setup-github-auth/action.yml
  templates/standard-ci.yml
  templates/standard-release.yml
Owners: @provide-io/docs, @provide-io/maintainers, @provide-io/infrastructure

🔼⚙️ [skip ci] auto-commit
  examples/__pycache__/test_basic.cpython-311-pytest-8.4.2.pyc
Owners: @provide-io/maintainers

🔼⚙️ [skip ci] auto-commit
  pyproject.toml
Owners: @provide-io/infrastructure

🔼⚙️ [skip ci] auto-commit
  ci_tooling.egg-info/PKG-INFO
  examples/__pycache__/test_basic.cpython-313-pytest-8.4.2.pyc
  uv.lock
Owners: @provide-io/maintainers

chore(ci): Bump github/codeql-action from 3 to 4
  .github/workflows/python-ci.yml
Owners: @provide-io/infrastructure

chore: update project configuration for automated commits
  .github/workflows/python-ci.yml
  pyproject.toml
Owners: @provide-io/infrastructure

chore: update project configuration for automated commits
  .github/workflows/python-ci.yml
  pyproject.toml
Owners: @provide-io/infrastructure
