Repository provide-io/ci-tooling, changes with the owners that .github/CODEOWNERS names for each.
All owners: @provide-io/maintainers, @provide-io/infrastructure, @provide-io/docs

.github/CODEOWNERS:

# Code ownership for provide-io/ci-tooling

# Global ownership - all files require review from maintainers
* @provide-io/maintainers

# Actions require additional infrastructure team review
/actions/ @provide-io/infrastructure @provide-io/maintainers

# Workflows require additional infrastructure team review
/workflows/ @provide-io/infrastructure @provide-io/maintainers

# Scripts and automation
/scripts/ @provide-io/infrastructure

# Documentation can be reviewed by docs team
/docs/ @provide-io/docs @provide-io/maintainers
README.md @provide-io/docs @provide-io/maintainers

# Configuration files require infrastructure review
/.github/ @provide-io/infrastructure
pyproject.toml @provide-io/infrastructure
*.yml @provide-io/infrastructure
*.yaml @provide-io/infrastructure

chore(ci): Bump github/codeql-action from 3 to 4
  .github/workflows/python-ci.yml
Owners: @provide-io/infrastructure

🔼⚙️ [skip ci] auto-commit
  pyproject.toml
Owners: @provide-io/infrastructure

chore: update project configuration metadata
  pyproject.toml
Owners: @provide-io/infrastructure

chore: update project configuration metadata
  pyproject.toml
Owners: @provide-io/infrastructure

🔼⚙️ [skip ci] auto-commit
  ci_tooling.egg-info/PKG-INFO
  uv.lock
Owners: @provide-io/maintainers

🔼⚙️ [skip ci] auto-commit
  uv.lock
Owners: @provide-io/maintainers

🔼⚙️ [skip ci] auto-commit
  .coverage
Owners: @provide-io/maintainers

🔼⚙️ [skip ci] auto-commit
  .coverage
Owners: @provide-io/maintainers

🔼⚙️ [skip ci] auto-commit
  .coverage
Owners: @provide-io/maintainers

chore: update gitignore with auto-generated patterns for CI and build artifacts
  .gitignore
Owners: @provide-io/maintainers

chore: update gitignore with auto-generated patterns for CI and build artifacts
  .gitignore
Owners: @provide-io/maintainers

chore(ci): update GitHub Actions artifact plugins to latest major versions
  .github/workflows/python-release.yml
  .gitignore
Owners: @provide-io/infrastructure, @provide-io/maintainers

chore(ci): update GitHub Actions artifact plugins to latest major versions
  .github/workflows/python-release.yml
  .gitignore
Owners: @provide-io/infrastructure, @provide-io/maintainers

chore(pyproject): update project configuration metadata
  .github/workflows/python-release.yml
  .gitignore
  pyproject.toml
Owners: @provide-io/infrastructure, @provide-io/maintainers

chore(pyproject): update project configuration metadata
  .github/workflows/python-release.yml
  .gitignore
  pyproject.toml
Owners: @provide-io/infrastructure, @provide-io/maintainers

chore: update example and migration scripts for CI compatibility
  examples/test_basic.py
  scripts/extract_package_name.py
  scripts/extract_version.py
  scripts/migrate-workflow.py
Owners: @provide-io/maintainers, @provide-io/infrastructure

chore: update example and migration scripts for CI compatibility
  examples/test_basic.py
  scripts/extract_package_name.py
  scripts/extract_version.py
  scripts/migrate-workflow.py
Owners: @provide-io/maintainers, @provide-io/infrastructure
