Repository provide-io/ci-tooling, changes with the owners that .github/CODEOWNERS names for each.
All owners: @provide-io/maintainers, @provide-io/infrastructure, @provide-io/docs

🔧 Fix YAML syntax errors in GitHub Actions
  .github/workflows/python-ci.yml
  .github/workflows/python-release.yml
  .github/workflows/test-actions.yml
  actions/python-build/action.yml
  actions/python-release/action.yml
  actions/python-security/action.yml
  actions/python-test/action.yml
  docs/ci-monitoring-patterns.md
  docs/ci-orchestrator-design.md
Owners: @provide-io/infrastructure, @provide-io/docs, @provide-io/maintainers

test: Trigger workflow validation
  .gitignore
Owners: @provide-io/maintainers

fix: Add test structure and fix reusable workflow path
  .github/workflows/test-actions.yml
  examples/test_basic.py
  pyproject.toml
Owners: @provide-io/infrastructure, @provide-io/maintainers

test: Add minimal test workflow
  .github/workflows/test-minimal.yml
Owners: @provide-io/infrastructure

test: Fix minimal test to handle dependency installation
  .github/workflows/test-minimal.yml
Owners: @provide-io/infrastructure

test: Disable caching in minimal test
  .github/workflows/test-minimal.yml
Owners: @provide-io/infrastructure

fix: Update pyproject.toml to exclude unwanted packages
  pyproject.toml
Owners: @provide-io/infrastructure

test: Add direct reusable workflow test
  .github/workflows/test-reusable.yml
Owners: @provide-io/infrastructure

test: Simplify reusable workflow test
  .github/workflows/test-reusable.yml
Owners: @provide-io/infrastructure

test: Disable reusable workflow test temporarily
  .github/workflows/test-actions.yml
Owners: @provide-io/infrastructure

fix: Disable UV caching in all test workflow actions
  .github/workflows/test-actions.yml
Owners: @provide-io/infrastructure

fix: Add PYTHONPATH setup for source directory imports in python-test action
  actions/python-test/action.yml
Owners: @provide-io/infrastructure

fix: Improve coverage XML parsing robustness
  actions/python-test/action.yml
Owners: @provide-io/infrastructure

fix: Convert multiline Python to single line to fix YAML syntax
  actions/python-test/action.yml
Owners: @provide-io/infrastructure

scaffold(actions): introduce reusable GitHub Actions for Python CI/CD
  .github/dependabot.yml
  .github/workflows/test-actions.yml
  LICENSE
  README.md
  actions/python-build/action.yml
  actions/python-quality/action.yml
  actions/python-release/action.yml
  actions/python-security/action.yml
  actions/python-test/action.yml
  actions/setup-python-env/action.yml
  scripts/migrate-workflow.py
  templates/basic-python/.github/workflows/ci.yml
  templates/basic-python/.github/workflows/release.yml
  workflows/python-ci.yml
  workflows/python-release.yml
Owners: @provide-io/infrastructure, @provide-io/maintainers, @provide-io/docs

scaffold(actions): introduce reusable GitHub Actions for Python CI/CD
  .github/dependabot.yml
  .github/workflows/test-actions.yml
  LICENSE
  README.md
  actions/python-build/action.yml
  actions/python-quality/action.yml
  actions/python-release/action.yml
  actions/python-security/action.yml
  actions/python-test/action.yml
  actions/setup-python-env/action.yml
  scripts/migrate-workflow.py
  templates/basic-python/.github/workflows/ci.yml
  templates/basic-python/.github/workflows/release.yml
  workflows/python-ci.yml
  workflows/python-release.yml
Owners: @provide-io/infrastructure, @provide-io/maintainers, @provide-io/docs

fix(ci): correct YAML syntax and workflow paths in GitHub Actions files
  .github/workflows/python-ci.yml
  .github/workflows/python-release.yml
  .github/workflows/test-actions.yml
  .github/workflows/test-minimal.yml
  .github/workflows/test-reusable.yml
  .gitignore
  actions/python-build/action.yml
  actions/python-release/action.yml
  actions/python-security/action.yml
  actions/python-test/action.yml
  docs/ci-monitoring-patterns.md
  docs/ci-orchestrator-design.md
  examples/test_basic.py
  pyproject.toml
Owners: @provide-io/infrastructure, @provide-io/maintainers, @provide-io/docs

fix(ci): correct YAML syntax and workflow paths in GitHub Actions files
  .github/workflows/python-ci.yml
  .github/workflows/python-release.yml
  .github/workflows/test-actions.yml
  .github/workflows/test-minimal.yml
  .github/workflows/test-reusable.yml
  .gitignore
  actions/python-build/action.yml
  actions/python-release/action.yml
  actions/python-security/action.yml
  actions/python-test/action.yml
  docs/ci-monitoring-patterns.md
  docs/ci-orchestrator-design.md
  examples/test_basic.py
  pyproject.toml
Owners: @provide-io/infrastructure, @provide-io/maintainers, @provide-io/docs

🔼⚙️ [skip ci] auto-commit
  ci_tooling.egg-info/PKG-INFO
  ci_tooling.egg-info/SOURCES.txt
  ci_tooling.egg-info/dependency_links.txt
  ci_tooling.egg-info/top_level.txt
  uv.lock
Owners: @provide-io/maintainers

fix: Add PYTHONPATH setup for source directory imports in python-test action
  actions/python-test/action.yml
Owners: @provide-io/infrastructure

fix: Add PYTHONPATH setup for source directory imports in python-test action
  actions/python-test/action.yml
Owners: @provide-io/infrastructure

Refactor python-release action to use official PyPA action
  actions/python-release/action.yml
  scripts/extract_package_name.py
  scripts/extract_version.py
Owners: @provide-io/infrastructure

refactor(action): migrate python-release to official PyPA action
  actions/python-release/action.yml
  scripts/extract_package_name.py
  scripts/extract_version.py
Owners: @provide-io/infrastructure

refactor(action): migrate python-release to official PyPA action
  actions/python-release/action.yml
  scripts/extract_package_name.py
  scripts/extract_version.py
Owners: @provide-io/infrastructure

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/maintainers

🔼⚙️ [skip ci] auto-commit
  CLAUDE.md
Owners: @provide-io/maintainers

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/maintainers

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/maintainers

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/maintainers

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/maintainers

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/maintainers

Fix ci-tooling version reference to v0.0.0
  .claude/settings.local.json
Owners: @provide-io/maintainers

Fix python-quality action to never fail CI
  actions/python-quality/action.yml
Owners: @provide-io/infrastructure

Fix python-quality action command logic for true non-blocking behavior
  actions/python-quality/action.yml
Owners: @provide-io/infrastructure

Fix bash error handling in python-quality action for true non-blocking
  actions/python-quality/action.yml
Owners: @provide-io/infrastructure

Fix GitHub Actions output variable handling for quality summary
  actions/python-quality/action.yml
Owners: @provide-io/infrastructure

Update CI to use v0.2.3 with fixed output variable handling
  .claude/settings.local.json
Owners: @provide-io/maintainers

feat: Add parse-org-helpers action for GitHub token management
  actions/parse-org-helpers/action.yml
Owners: @provide-io/infrastructure

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/maintainers

🔼⚙️ [skip ci] auto-commit
  .claude/settings.local.json
Owners: @provide-io/maintainers

.github/CODEOWNERS:

# Code ownership for provide-io/ci-tooling

# Global ownership - all files require review from maintainers
* @provide-io/maintainers

# Actions require additional infrastructure team review
/actions/ @provide-io/infrastructure @provide-io/maintainers

# Workflows require additional infrastructure team review
/workflows/ @provide-io/infrastructure @provide-io/maintainers

# Scripts and automation
/scripts/ @provide-io/infrastructure

# Documentation can be reviewed by docs team
/docs/ @provide-io/docs @provide-io/maintainers
README.md @provide-io/docs @provide-io/maintainers

# Configuration files require infrastructure review
/.github/ @provide-io/infrastructure
pyproject.toml @provide-io/infrastructure
*.yml @provide-io/infrastructure
*.yaml @provide-io/infrastructure
